
/* modal 관련 */
.modal .modal-sm {
    width: 408px !important;
    max-width: 408px !important;
}

.modal .modal-sm .modal-body h4 {
    font-size: 16px !important;
    color: #2c2c2c !important;
    font-family: NotoS_R !important;
    line-height: 24px !important;
    letter-spacing: -0.5px !important;
}

.modal-dialog .modal-header h5 {
    font-size: 25px !important;
    color: #000 !important;
    font-family: NotoS_R !important;
}

.modal-dialog .modal-header h5.qrcode {
    font-size: 18px !important;
    text-align: center !important;
    display: block !important;
    width: 100%;
}

.modal .modal-header p {
    font-size: 14px !important;
    line-height: 20px !important;
    color: #626262 !important;
}

.modal-footer {
    justify-content: center !important;
}

.modal-footer > :not(:last-child) {
    margin-right: 6px !important;
}

.model-confirm-msg {
  line-height: 1.3 !important;
  padding: 50px 30px;
}

input[type="checkbox"].check-circle.all:checked + label { border:1px solid #2fcd7c; background: #2fcd7c; }
input[type="checkbox"].check-circle.hwan:checked + label { border:1px solid #bbb; background: #bbb; }
input[type="checkbox"].check-circle.SLT001:checked + label { border:1px solid #0d3692; background: #0d3692; }
input[type="checkbox"].check-circle.SLT002:checked + label { border:1px solid #33a23d; background: #33a23d; }
input[type="checkbox"].check-circle.SLT003:checked + label { border:1px solid #fe5d10; background: #fe5d10; }
input[type="checkbox"].check-circle.SLT004:checked + label { border:1px solid #00a2d1; background: #00a2d1; }
input[type="checkbox"].check-circle.SLT005:checked + label { border:1px solid #8b50a4; background: #8b50a4; }
input[type="checkbox"].check-circle.SLT006:checked + label { border:1px solid #c55c1d; background: #c55c1d; }
input[type="checkbox"].check-circle.SLT007:checked + label { border:1px solid #54640d; background: #54640d; }
input[type="checkbox"].check-circle.SLT008:checked + label { border:1px solid #f14c82; background: #f14c82; }
input[type="checkbox"].check-circle.SLT009:checked + label { border:1px solid #aa9872; background: #aa9872; }
input[type="checkbox"].check-circle.SLT010:checked + label { border:1px solid #8cadcb; background: #8cadcb; }
input[type="checkbox"].check-circle.SLT011:checked + label { border:1px solid #ed8000; background: #ed8000; }
input[type="checkbox"].check-circle.SLT012:checked + label { border:1px solid #c82127; background: #c82127; }
input[type="checkbox"].check-circle.SLT013:checked + label { border:1px solid #73c7a6; background: #73c7a6; }
input[type="checkbox"].check-circle.SLT014:checked + label { border:1px solid #32c6a6; background: #32c6a6; }
input[type="checkbox"].check-circle.SLT015:checked + label { border:1px solid #ff8c00; background: #ff8c00; }
input[type="checkbox"].check-circle.SLT016:checked + label { border:1px solid #3681b7; background: #3681b7; }
input[type="checkbox"].check-circle.SLT017:checked + label { border:1px solid #fda600; background: #fda600; }
input[type="checkbox"].check-circle.SLT018:checked + label { border:1px solid #77c371; background: #77c371; }
input[type="checkbox"].check-circle.SLT019:checked + label { border:1px solid #ffcd12; background: #ffcd12; }
input[type="checkbox"].check-circle.SLT020:checked + label { border:1px solid #0054a6; background: #0054a6; }
input[type="checkbox"].check-circle.SLT021:checked + label { border:1px solid #c6c100; background: #c6c100; }
input[type="checkbox"].check-circle.SLT022:checked + label { border:1px solid #8bc53f; background: #8bc53f; }
input[type="checkbox"].check-circle.SLT023:checked + label { border:1px solid #96710a; background: #96710a; }


.SLT001_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #0d3692; margin:0 0.1rem; }
.SLT002_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #33a23d; margin:0 0.1rem; }
.SLT003_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #fe5d10; margin:0 0.1rem; }
.SLT004_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #00a2d1; margin:0 0.1rem; }
.SLT005_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #8b50a4; margin:0 0.1rem; }
.SLT006_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #c55c1d; margin:0 0.1rem; }
.SLT007_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #54640d; margin:0 0.1rem; }
.SLT008_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #f14c82; margin:0 0.1rem; }
.SLT009_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #aa9872; margin:0 0.1rem; }
.SLT010_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #8cadcb; margin:0 0.1rem; }
.SLT011_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #ed8000; margin:0 0.1rem; }
.SLT012_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #c82127; margin:0 0.1rem; }
.SLT013_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #73c7a6; margin:0 0.1rem; }
.SLT014_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #32c6a6; margin:0 0.1rem; }
.SLT015_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #ff8c00; margin:0 0.1rem; }
.SLT016_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #3681b7; margin:0 0.1rem; }
.SLT017_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #fda600; margin:0 0.1rem; }
.SLT018_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #77c371; margin:0 0.1rem; }
.SLT019_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #ffcd12; margin:0 0.1rem; }
.SLT020_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #0054a6; margin:0 0.1rem; }
.SLT021_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #c6c100; margin:0 0.1rem; }
.SLT022_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #8bc53f; margin:0 0.1rem; }
.SLT023_dot { display: inline-block; width:0.4rem; height: 0.4rem; border-radius: 0.4rem; background: #96710a; margin:0 0.1rem; }



/* 2호선 서클 */
.subway-slider .subway-list .SLT001 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #0d3692; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT002 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #33a23d; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT003 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #fe5d10; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT004 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #00a2d1; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT005 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #8b50a4; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT006 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #c55c1d; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT007 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #54640d; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT008 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #f14c82; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT009 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #aa9872; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT010 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #8cadcb; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT011 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #ed8000; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT012 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #c82127; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT013 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #73c7a6; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT014 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #32c6a6; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT015 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #ff8c00; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT016 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #3681b7; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT017 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #fda600; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT018 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #77c371; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT019 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #ffcd12; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT020 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #0054a6; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT021 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #c6c100; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT022 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #8bc53f; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }
.subway-slider .subway-list .SLT023 { position: relative; width:7.5rem; height: 7.5rem; border-radius: 7.5rem; background: #fff; border:7px solid #96710a; display: flex; justify-content: center; align-items: center; overflow: hidden; margin:0 auto; cursor: pointer; transition: all 0.3s; }

.subway-slider .subway-list .SLT001:hover,.subway-slider .subway-list .SLT001.active  { transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT002:hover,.subway-slider .subway-list .SLT002.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT003:hover,.subway-slider .subway-list .SLT003.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT004:hover,.subway-slider .subway-list .SLT004.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT005:hover,.subway-slider .subway-list .SLT005.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT006:hover,.subway-slider .subway-list .SLT006.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT007:hover,.subway-slider .subway-list .SLT007.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT008:hover,.subway-slider .subway-list .SLT008.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT009:hover,.subway-slider .subway-list .SLT009.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT010:hover,.subway-slider .subway-list .SLT010.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT011:hover,.subway-slider .subway-list .SLT011.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT012:hover,.subway-slider .subway-list .SLT012.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT013:hover,.subway-slider .subway-list .SLT013.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT014:hover,.subway-slider .subway-list .SLT014.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT015:hover,.subway-slider .subway-list .SLT015.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT016:hover,.subway-slider .subway-list .SLT016.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT017:hover,.subway-slider .subway-list .SLT017.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT018:hover,.subway-slider .subway-list .SLT018.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT019:hover,.subway-slider .subway-list .SLT019.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT020:hover,.subway-slider .subway-list .SLT020.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT021:hover,.subway-slider .subway-list .SLT021.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT022:hover,.subway-slider .subway-list .SLT022.active{ transform: scale(1.15); transition: all 0.3s; };
.subway-slider .subway-list .SLT023:hover,.subway-slider .subway-list .SLT023.active{ transform: scale(1.15); transition: all 0.3s; };

.subway-label.sline-SLT001 { color:#fff; background: #0d3692; }
.subway-label.sline-SLT002 { color:#fff; background: #33a23d; }
.subway-label.sline-SLT003 { color:#fff; background: #fe5d10; }
.subway-label.sline-SLT004 { color:#fff; background: #00a2d1; }
.subway-label.sline-SLT005 { color:#fff; background: #8b50a4; }
.subway-label.sline-SLT006 { color:#fff; background: #c55c1d; }
.subway-label.sline-SLT007 { color:#fff; background: #54640d; }
.subway-label.sline-SLT008 { color:#fff; background: #f14c82; }
.subway-label.sline-SLT009 { color:#fff; background: #aa9872; }
.subway-label.sline-SLT010 { color:#fff; background: #8cadcb; }
.subway-label.sline-SLT011 { color:#fff; background: #ed8000; }
.subway-label.sline-SLT012 { color:#fff; background: #c82127; }
.subway-label.sline-SLT013 { color:#fff; background: #73c7a6; }
.subway-label.sline-SLT014 { color:#fff; background: #32c6a6; }
.subway-label.sline-SLT015 { color:#fff; background: #ff8c00; }
.subway-label.sline-SLT016 { color:#fff; background: #3681b7; }
.subway-label.sline-SLT017 { color:#fff; background: #fda600; }
.subway-label.sline-SLT018 { color:#fff; background: #77c371; }
.subway-label.sline-SLT019 { color:#fff; background: #ffcd12; }
.subway-label.sline-SLT020 { color:#fff; background: #0054a6; }
.subway-label.sline-SLT021 { color:#fff; background: #c6c100; }
.subway-label.sline-SLT022 { color:#fff; background: #8bc53f; }
.subway-label.sline-SLT023 { color:#fff; background: #96710a; }


.form-box-np .label-error { font-size: 0.8rem; font-weight: 500; letter-spacing: -0.02rem; color:#ff1313; display: flex; align-items: center; margin-bottom: 0; margin-top: 0; }

.cdk-global-scrollblock {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}
