<div class="dim">
  <div class="pop i-slider">
    <div class="pop-header">
      <p>
        <span>등록하신 이미지는 Full HD 해상도(1920x1080) 기준</span> <span>가로 사이즈에 맞춰집니다.</span><br/>
        <span>흰색 테두리 영역 내 이미지로 광고에 적용되니</span> <span>이미지 수정을 원하시면 편집 작업 후 다시 업로드해주세요.</span>

      </p>
      <i class="close" (click)="closeDialog()"></i>
    </div>
    <div class="pop-body pd0">
      <div class="pop-slider" #popSlider>

        <div class="partner-list" *ngFor="let file of fileList; let i = index">
          <div class="form-img">
            <img src="{{file.path}}" alt="매장이미지">
          </div>
        </div>
<!--
        <div class="partner-list">
          <div class="form-img">
            <img src="assets/images/aaa.png" alt="매장이미지">
          </div>
        </div>
        <div class="partner-list">
          <div class="form-img">
            <img src="assets/images/pop-sample2.jpg" alt="매장이미지2">
          </div>
        </div>
        <div class="partner-list">
          <div class="form-img">
            <img src="assets/images/pop-sample3.jpg" alt="매장이미지3">
          </div>
        </div>-->

      </div>
    </div>
  </div>
</div>