<footer>
    <div class="footer-wrap">
        <nav class="footer-nav">
            <ul>
                <li><a (click)="openTermDialog('TRM001')">이용약관</a></li>
                <li><a (click)="openTermDialog('TRM002')">개인정보처리방침</a></li>
                <li><a (click)="openTermDialog('TRM004')">개인정보마케팅이용동의</a></li>
            </ul>
        </nav>
        <div class="footer-accordion" #footerAccordion>
            <p class="a-header">
                <span>연락처 : contact@oddiad.com</span>
                <span>통신판매업신고번호 : 제1997-00084호</span>
            </p>
            <div>
                <span>상호명 : (주) LG전자</span> &nbsp; <span>대표이사 : 배두용 </span> &nbsp;
                <span>사업자등록번호 : 107-86-14075</span> &nbsp;
                <span>사업장 주소 : 서울특별시 영등포구 여의대로128 트윈빌딩</span> &nbsp;
                <span>고객센터  : 1544-7777</span>
                <div class="copyright"><span>copyright ⓒ 2021 LG Electronics. All Rights Reserved.</span></div>
            </div>
        </div>
    </div>
</footer>
