<main>
    <div class="main-wrap">
        <section class="join-od">
            <div class="serction-wrap">
                <div class="welcome-box">
                    <h2>Welcome Oddi</h2>
                    <div class="welcom-text">
                        <strong>회원가입이 완료 되었습니다.</strong>
                        <span>오디 회원이 되신 것을 환영합니다.</span>
                        <span>가입한 이메일 주소로 로그인 하세요.</span>
                    </div>
                    <div class="form-box mt40">
                        <button type="button" class="btn-01 w100p fs1" [routerLink] ="['/login']">로그인 하기</button>
                    </div>
                </div>

            </div>
        </section>

    </div>
</main>
